*{
    margin: 0;
 
   padding: 0;
}
.navber{
    background-color: white
}
.navber ul{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 32px;
}
.navber li{
    
    list-style: none;
    
}
.navber li a{
    text-decoration:none ;
}



.navber img{
    margin: 16px  16px 0 120px;
    width: 139px;
    height: 60px;
}
.navber{
    width: 100%;
    max-width: 1360px;
    /* border: 1px solid red; */
    margin: 0px auto;
    align-items: center;
    
}
#btn{
    
    display: flex;
    justify-content: end;
}
button{
    background-color: green;
    padding: 12.5px 16px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.navber-menu{
    align-items: center;
}
.banner{
    /* border: 1px solid red; */
    background-image: url(./assets/hero-bg.png);
    display: flex;
    justify-content: center;
    background-size: cover;
    text-align: center;
    align-items: center;

}
.banner h4{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    width: 229px;
    height: 35px;
    border-radius: 5px;
    text-align: center;
       
       
}
.position{
    width: 1360px;
    height: 152px;
    text-align: center;

}
.position h2{
    font-size: 3em;
    margin: 0 auto;

}

.position.position-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}
.position-box{
    display: flex;
    gap: 24px;
}
.position-card img{
    background-color: brown;
}
.position-box .position-card{
    padding: 30px;
    border: 1px solid rgb(242, 234, 234);
    max-width: 322px;
}
.plex-container{
 display: flex;
 margin: 120PX 120PX;

}
.content{
    height: 700px;
    width: 300px;
    padding: 120px;
    gap: 40ox;
}
.content h2{
    font-size: 2em;
}
.content li{
    list-style: none;
}
.suport{
    background-color: aliceblue;
    margin: 120px 120px;
    border: 1px solid darkgray;
    width: 1360px;
    height: 386px;
    text-align: center;
    align-items: center;
    padding: 40px;
    gap: 24px;
}

